[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[dev-packages]

[packages]
esphome = ">=2025.11.0"
#esphome = "==2025.6.3" # wasserzaehler fix
pillow = "==11.3.0" # bisher 10.4.0
esptool = "*"
yamllint = "*"
